# Environnement virtuel
Evirtuel/
virtuel/
env/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Base de données
db.sqlite3

# Environnement
.env

# Fichiers système
.DS_Store
Thumbs.db
